[Desktop Entry]
Type=Application
Name=Hyperworld
Comment=Hyperworld is a multiplayer voxel RPG written in Rust
Comment[de]=Hyperworld ist ein in Rust geschriebenes Mehrspieler Voxel RPG
Exec=hyperworld-voxygen
Categories=Game;Simulation;
Keywords=hyperworld;sandbox;world;blocks;nodes;multiplayer;roleplaying;
Icon=net.hyperworld.hyperworld
Terminal=false
